@import '~office-ui-fabric-react/dist/sass/References.scss';

.uploadFileAsPdf {
  .fileCanvas {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    padding: 20px;
  }
  .highlight {
    background-color: lightgray;
  }
}
